@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lobster&family=Poppins:wght@400;500&family=Tsukimi+Rounded:wght@400;500&display=swap');


*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;
}
body{
    height: 100vh;
    max-width: 100vw;
    /* background-image: url(/assets/background.jpeg);
    background-size: cover; */
    background: linear-gradient(94deg, rgba(46,160,187,1) 37%, rgba(100,205,230,1) 68%);
}
::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

main.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

div.extra{
    width: 352px;
    height: 30rem;
    margin-top: 12px;
    background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
    border-radius: 40px;

}
div.logo{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #785fee;
    width:22rem;
    height: 10rem;
    border-radius: 8px;
}

div.login{
display: flex;
flex-direction: column;
background-color: #ffffff;
width:22rem;
    height: 25rem;
    border-radius: 8px;
}

h1.userL{
    text-align: center;
}

form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input#email{
    border: none;
    outline: none; 
    background-color:rgb(228, 228, 240) ;
    /* border: 1px solid rgb(116, 116, 121); */
    color: #141313;
    width: 15rem;
height: 40px;
font-size: 18px;
font-variant:normal;
border-radius: 10px;
cursor: text;
padding-left: 5px;
z-index: 1;
transition: border-color 0.1s, border-radius 0.1s, background-color 0.1s;
}

input#password{
    border: none;
    outline: none; 
    background-color:rgb(228, 228, 240) ;
    /* border: 1px solid rgb(116, 116, 121); */
    color: #141313;
    width: 15rem;
height: 40px;
font-size: 18px;
font-variant:normal;
border-radius: 10px;
cursor: text;
padding-left: 5px;
z-index: 1;
transition: border-color 0.1s, border-radius 0.1s, background-color 0.1s;
}

input#email:focus,
input#password:focus,
input#email:hover,
input#password:hover {     /*  so that when user focus it the bordere should display */
  border: 3px solid #0004fc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}


button#login{
    width: 60px;
    height: 40px;
    background-color: #2b2dc2e8;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 30px;
    cursor: pointer;
}
button#login:hover{
    transform: scale(1.1);
}
div.signup{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 24px;
    gap: 53px;
}

h3.createaccount{
font-size: 16px;
}

a.signupb{
    text-transform: capitalize;
    text-decoration: none;
    color: #006aff;
    font-weight: 500;
}

h3.or{
    text-align: center;
    margin-top: 15px;
}

button#google{
    border: none;
    outline: none; 
    background-color:#4267b2;
    color: #ffffff;
    width: 15rem;
height: 40px;
font-size: 18px;
font-variant:normal;
border-radius: 10px;
padding-left: 5px;
z-index: 1;
transition: border-color 0.1s, border-radius 0.1s, background-color 0.1s;
    cursor: pointer;  
    margin-left: 50px;
}
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 10px;
    background-color: #4beb2b;
    color: #000000;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.5s;
    border-radius: 5px;
    z-index: 9999;
  }
  
  .alert.hide {
    opacity: 0;
  }


  @media all and (max-width:408px) and (min-width:346px) {
    div.extra{
        width: 304px;
        height: 30rem;
    }
      
div.logo{
        width:19rem;
        height: 10rem;
    }
    
    div.login{
    width:19rem;
        height: 25rem;
    }
    div.signup{
        margin-left: 20px;
        gap: 19px;
    }
    button#google{
        margin-left: 36px;
    }
}



@media all and (max-width:346px) and (min-width:320px) {
    div.extra{
        width: 280px;
        height: 30rem;
    }
      
div.logo{
        width:17.5rem;
        height: 10rem;
    }
    
    div.login{
    width:17.5rem;
        height: 25rem;
    }
    div.signup{
        margin-left: 15px;
        gap: 12px;
    }
    button#google{
        margin-left: 22px;
    }
}


