
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lobster&family=Poppins:wght@400;500&family=Tsukimi+Rounded:wght@400;500&display=swap');


*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;
}
body{
    height: 100vh;
    max-width: 100vw;
    background: #000000;
}
::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

main.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

div.extra{
    width: 352px;
    height: 30rem;
    background: #000000;
    border-radius: 40px;
    margin-top: 12px;
}
div.logo{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #000000;
    width:23rem;
    height: 10rem;
    border-radius: 8px;
}

div.login{
display: flex;
flex-direction: column;
background-color: #000000;
width:22rem;
    height: 29rem;
    border-radius: 8px;
    align-items: center;
    gap: 13px;
}


form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input#email{
    outline: none; 
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #616161;
    width: 18rem;
height: 40px;
font-size: 18px;
border-radius: 5px;
cursor: text;
padding-left: 5px;
transition: border-color 0.1s, border-radius 0.1s, background-color #000000;
}

input#password{
    outline: none; 
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #616161;
    width: 18rem;
height: 40px;
font-size: 18px;
border-radius: 5px;
cursor: text;
padding-left: 5px;
transition: border-color 0.1s, border-radius 0.1s, background-color #000000;
}
input#name{
    
    outline: none; 
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #616161;
    width: 18rem;
height: 40px;
font-size: 18px;
border-radius: 5px;
cursor: text;
padding-left: 5px;
transition: border-color 0.1s, border-radius 0.1s, background-color #000000;  
}

input#name::placeholder{
    color: #ffffff;
}

input#email::placeholder{
    color: #ffffff;
}

input#password::placeholder{
    color: #ffffff;
}
input#email:focus,
input#password:focus,
input#name:focus,
input#email:hover,
input#password:hover,
input#name:hover {     /*  so that when user focus it the bordere should display */
  border: 3px solid #e4d9d9;
  border-radius: 5px;
  background-color: #000000;
  color: #fffcfc;
}


button#login{
    width: 18rem;
    height: 40px;
    background-color: #2196f3;
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

h3.or{
    text-align: center;
    color: #ffffff;
}

button#google{
    border: 1px solid #616161;
    outline: none; 
    background-color:#000000;
    color: #2196f3;
    width: 20rem;
height: 40px;
font-size: 20px;
font-variant:normal;
border-radius: 5px;
padding-left: 5px;
z-index: 1;
transition: border-color 0.1s, border-radius 0.1s, background-color 0.1s;
    cursor: pointer;  
    text-align: center;
    justify-content: center;
    margin-left: 30px;
    font-weight: 600;
}
div.signup{
    margin-left: 24px; 
    margin-top: 20px;
    align-items: center;
}
h3.createaccount{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    } 
    
     a.signupb{
        text-transform: capitalize;
        text-decoration: none;
        color: #2196f3;
        font-weight: 500;
        margin-top: 50px;
        font-size: 18px;
    }

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 10px;
    background-color: #4beb2b;
    color: #000000;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.5s;
    border-radius: 5px;
    z-index: 9999;
  }
  
  .alert.hide {
    opacity: 0;
  }


  @media all and (max-width:408px) and (min-width:346px) {
    div.extra{
        width: 304px;
        height: 30rem;
    }
      
div.logo{
        width:22rem;
        height: 10rem;
        gap: 14px;
    }
    
    div.signup{
        margin-left: 20px;
        gap: 19px;
    }
    
button#login{
    width: 14rem;
    height: 40px;
    margin-left: 20px;
    gap: 14px;
}
button#google{
    width: 15rem;
height: 40px;
font-size: 20px;
z-index: 1;
    text-align: center;
    justify-content: center;
    margin-left: 30px;
}
input#name{
    width: 15rem;
height: 40px;
font-size: 18px;
padding-left: 5px;
}
input#email{
    width: 15rem;
height: 40px;
font-size: 18px;
padding-left: 5px;
}
input#password{
    width: 15rem;
height: 40px;
font-size: 18px;
padding-left: 5px;
}
}



@media all and (max-width:346px) and (min-width:320px) {
    div.extra{
        width: 280px;
        height: 30rem;
    }
      
div.logo{
        width:20rem;
        height: 10rem;
    }
    
    div.login{
    width:17.5rem;
        height: 25rem;
        gap: 12px;
    }
    div.signup{
        margin-left: 15px;
        gap: 12px;
    }
        
button#login{
    width: 11rem;
    height: 40px;
    margin-left: 20px;
}
    button#google{
        width: 15rem;
        height: 40px;
        font-size: 20px;
        z-index: 1;
        text-align: center;
        justify-content: center;
        margin-left: 30px;
        padding: 10px;
    }
    input#name{
        width: 13rem;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
    }
    input#email{
        width: 13rem;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    }
    input#password{
        width: 13rem;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    }
}


