*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101010;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    width: 10px;
    background: #2c2b2bc7;
    border-radius: 20px;
    
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #dadde4;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }
 
   /*       heading area  */
div.heading{
    display: flex;
    flex-direction: row;
justify-content:center;
align-items:center;
margin-top: 40px;
}

/* div.heading button{
color: #ffffff;
outline: none;
border: none;
background-color: #000000;
font-size:xx-large;
font-weight: lighter;
} */

div.heading h1{
    color: #ffffff;
    font-size:40px;
    font-weight:bolder;
}

/*   main area */
div.post{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    border-top: 3px solid #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*   user picture area */
div.user{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}
/*  large pic  */
div.large{
border: 2px solid;
width: 3.5rem;
height: 3.5rem;
background-color: #4c4c4c;
border-radius: 50%;
overflow: hidden;
}
/*  horizontal line */
div.line{
    width: 4px;
    background-color:#4c4c4c;
    height: 13.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*  small pic */
div.small{
    border: 2px solid;
width: 2rem;
height: 2rem;
background-color: #4c4c4c;
border-radius: 50%;
}
/* images */
.images{
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


div.start{
    margin-top: 22px;
    margin-left: 20px;
}

div.write{
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #101010;
    width: 5rem;
    height: 5rem; 
}

#textarea{
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #101010;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5; /* Adjust this value to change line spacing */

}


 button{
    color: #284e73 ; 
    outline: none;
    border: none;
    background-color: #101010;
    font-size: large;
    cursor: pointer;
    
}
button:hover{
    transform: scale(1.1);
}
h1.StartH1{
    margin-top: 1px;
    letter-spacing: 1px;
    font-size: 25px;
    color: #ffffff;
    font-weight: lighter;
    text-transform: capitalize;
}
h2.StartH2{
    margin-top: 12px;
    letter-spacing: 1px;
    font-size: 22px;
    color: #4c4c4c;
    font-weight: lighter;
    text-transform: capitalize;   
}

/*    alert css   */ 

.alert {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    font-weight: lighter;
    text-align: center;
    transition: opacity 0.5s;
    border-radius: 5px;
    z-index: 9999;
    font-size: 24px;
  }
  



