*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    width: 10px;
    background: #2c2b2bc7;
    border-radius: 20px;
    
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #dadde4;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }
 

  main.main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #ffffff;
height: 100%;
max-width: 100%;
  }

div.secondMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

div.logo{
  width: 100%;
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  post area */
div.content {
    margin-top: 10px;
    min-height: calc(100vh - 3.4rem - 8px); /* Subtracting the footer and logo height from viewport height(the remaining height will be the height of the div.content */
  width: 100%;
  }

div.info{
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.names{
  display: flex;
  flex-direction: column;
  gap: 17px;
}

h1.name{
  font-size: 35px;
  letter-spacing: 1.3px;
text-transform: capitalize;
}

div.threadnet{
  display: flex;
  flex-direction: row;
gap: 13px;
}
div.threadnet h3.one{
  font-size: 22px;
  letter-spacing: 1.3px;
text-transform: capitalize;
}

div.raduis{
  padding-left: 0.5rem;
    padding-right: 0.5rem;
     background-color: #525252;
  height: 22px;
  border-radius: 9999px;
}
 h3.threadsnet{
 color: #bebfc7;
 font-weight: lighter;
 letter-spacing: 1px;
}
textarea#bio{
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  resize: none; 
  overflow-y: hidden;
  cursor:context-menu;
  text-indent: 0;
  width: 18rem;
  font-weight: lighter;
}

div.profileimg{
          border: 2px solid;
width: 6rem;
height: 6rem;
/* background-color: #4c4c4c; */
border-radius: 50%;
overflow: hidden;
border: none;
outline: none;
        }
      div.profileimg img  {
          width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      
h3.link1,
h3.link2,
h3.link3{
  font: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #0670e9;
  cursor: pointer;
  font-weight: lighter;
}


div.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px ;
  width: 100%;
}


button.edit{
  border-color: #737373;
  width: 11rem;
  padding: 10px;
  height: 2.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.75rem;
  border-width: 1px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  border-style: double;
}

button.logout{
  border-color: #737373;
  width: 11rem;
  padding: 10px;
  height: 2.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.75rem;
  border-width: 1px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  border-style: double;
}



  /*  home,edit,profile area */
div.footer{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 999;
    background-color: #000000;
    bottom: 0;
    width: 100%;
    height: 3.4rem;
    padding: 8px 7px ;
}
div.mainFooter{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}


/*    alert css   */ 

.alert {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-weight: lighter;
  text-align: center;
  transition: opacity 0.5s;
  border-radius: 5px;
  z-index: 9999;
  font-size: 24px;
}
