*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    width: 10px;
    background: #2c2b2bc7;
    border-radius: 20px;
    
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #dadde4;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }
 

  main.main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #ffffff;
height: 100%;
max-width: 100%;
  }

div.secondMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

div.logo{
    margin-top: 8px;
}

/*  post area */
div.content {
    margin-top: 10px;
    min-height: calc(100vh - 3.4rem - 8px); /* Subtracting the footer and logo height from viewport height(the remaining height will be the height of the div.content */
  width: 100%;
  }

  /*  home,edit,profile area */
div.footer{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 999;
    background-color: #000000;
    bottom: 0;
    width: 100%;
    height: 3.4rem;
    padding: 8px 7px ;
}
div.mainFooter{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}  

/* /////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////    dynamically creating elements css   */

/*   main area */
div.mainPost{
  /* margin-left: auto;
  margin-right: auto; */
  /* border: 2px solid red; */
  height: 18.4rem;  /* 22.3rem */
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #4c4c4c;
margin-bottom: 22px;
}

/*   post area */
div.UserProfile{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-items: center;
  margin-bottom: 10px;
}
div.mainContentDiv{
  margin-left: 20px;
}
textarea#TextArea.textArea{
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1.5;
  height: 60%;
}

h1.userName{
  font-size: 23px;
  letter-spacing: 1px;
}
h2#time{
  font-size: 20px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////    Media query  */

@media all and (max-width:1236px) and (min-width:1120px) {
  div.secondMain{
    width: 55%;
}
}
@media all and (max-width:1120px) and (min-width:1023px) {
  div.secondMain{
    width: 60%;
}
textarea#TextArea.textArea{
  letter-spacing: 1.3px;
    font-size: 15px;
    height: 60%;
}
}

@media all and (max-width:1023px) and (min-width:883px) {
  div.secondMain{
    width: 65%;
}
textarea#TextArea.textArea{
  letter-spacing: 1.3px;
    font-size: 14.5px;
    height: 60%;
    line-height: 1.6;
}
}
 
@media all and (max-width:883px) and (min-width:704px) {
  div.secondMain{
    width: 70%;
    scroll-behavior: smooth;
}
textarea#TextArea.textArea{
  letter-spacing: 1.3px;
    font-size: 14px;
    line-height: 1.5;
    height: 60%;
}
div.mainContentDiv{
 margin-left: 10px; 
}
}
@media all and (max-width:704px) and (min-width:535px) {
  div.secondMain{
    width: 80%;
    scroll-behavior: smooth;
}
textarea#TextArea.textArea{
  letter-spacing: 1.3px;
    font-size: 13px;
    line-height: 1.4;
}
div.mainContentDiv{
 margin-left: 12px; 
}
}

@media all and (max-width:535px) and (min-width:447px) {
  div.secondMain{
    width: 90%;
    scroll-behavior: smooth;
}
textarea#TextArea.textArea{
  letter-spacing: 1.2px;
    font-size: 13.3px;
    line-height: 1.2;
    height: 55%;
}
div.mainContentDiv{
 margin-left: 5px; 
}
h1.userName{
  font-size: 20px;
  letter-spacing: 0.6px;
}
h2#time{
  font-size: 18px;
}
}


@media all and (max-width:447px) and (min-width:373px) {
  div.secondMain{
    width: 95%;
    scroll-behavior: smooth;
}
textarea#TextArea.textArea{
  letter-spacing: 1px;
    font-size: 11.5px;
    line-height: 1.4;
    height: 60%;
}
div.mainContentDiv{
 margin-left: 2px; 
}
h1.userName{
  font-size: 17px;
  letter-spacing: 0.5px;
}
h2#time{
  font-size: 15px;
}
}


@media all and (max-width:373px) and (min-width:320px) {
  div.secondMain{
    width: 96%;
    scroll-behavior: smooth;
}
textarea#TextArea.textArea{
  letter-spacing: 1px;
    font-size: 11.5px;
    line-height: 1.3;
    height: 62%;
}
div.mainContentDiv{
 margin-left: -3px; 
}
h1.userName{
  font-size: 14px;
  letter-spacing: 0.4px;
}
h2#time{
  font-size: 13.5px;
}
}








